[include]
  # der Pfad muss von ~ ausgehen
  path = dotfiles/common/.common-gitconfig
[user]
  signingkey = 51AB92A357A5EB4B
[push]
  default = simple
[core]
  autocrlf = input
[commit]
  gpgsign = true
[gpg]
  program = gpg

